/venv/
/.idea/
/__pycache__/
/Storage/Astronomy/de421.bsp
*.log
# Storage files
Storage/Astronomy/*
*.bsp
*.dat
*.download*
*.pyc

# Ignore all Jupyter notebook checkpoints
**/.ipynb_checkpoints/
.config/jupyter/**
# Ignore JupyterLab language server protocol (LSP) symlink and virtual documents
.lsp_symlink
.virtual_documents/

